@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@function tint($percent) {
  @return mix(white, black, $percent);
}

$bg: tint(15);
$bg-hover: tint(18);

$sub-bg: tint(9);
$sub-bg-hover: tint(12);

$border: #293649;
$link-color: #126CA1;
$font: 'Open sans', sans-serif;

* {
  margin: 0;
  padding: 0;
  font-family: $font;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #333;
}

nav#navigation {
  position: fixed;
  width: 225px;
  height: 100%;
  background: $bg;
  border-right: 1px solid $border;

  ul {
    list-style: none;

    li {
      position: relative;
      display: block;
      width: 100%;
      height: 60px;
      border-bottom: 1px solid $border;

      &.active {
        background: $bg-hover;
      }

      &.dropdown {
        //Include this if you want pure CSS dropdown menus
        /*&:hover {
            ul[class*="dropdown-"] {
                display: block;
            }
        }*/

        &:before {
          font-family: ionicons;
          content: "\f125";
          position: absolute;
          margin: 20px 0 0 0;
          left: 85%;
          color: #aaa;
        }
      }

      &:hover:after {
        width: 225px;
      }

      &:after {
        content: " ";
        position: absolute;
        z-index: 1;
        width: 0px;
        height: 2px;
        margin: -2px 0 0 0;
        background: $link-color;
        -webkit-transition: 150ms ease all;
        -moz-transition: 150ms ease all;
        -ms-transition: 150ms ease all;
        -o-transition: 150ms ease all;
        transition: 150ms ease all;
      }

      a {
        display: block;
        width: 100%;
        line-height: 60px;
        padding: 0 15px;
        text-decoration: none;
        color: #aaa;
        -webkit-transition: 150ms ease all;
        -moz-transition: 150ms ease all;
        -ms-transition: 150ms ease all;
        -o-transition: 150ms ease all;
        transition: 150ms ease all;

        &:hover {
          background: $bg-hover;
          color: #eee;
        }

        i,
        span {
          display: inline-block;
        }

        i {
          position: absolute;
          /*margin: 25px 0 0 0;*/
          font-size: 1.3em;
        }

        span {
          margin: 0 0 0 35px;
          font-size: 0.85em;
        }
      }

      ul[class*="dropdown-"] {
        position: absolute;
        display: none;
        margin: -61px 0 0 225px;

        li {
          width: 225px;
          background: $sub-bg;
          a {
            &:hover {
              background: $sub-bg-hover;
            }
          }
        }
      }
    }
  }
}

#wrapper {
  margin: 0 0 0 225px;
  padding: 15px;
  color: #aaa;
}